
#home{
    display: grid;
    grid-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "img text text"
}

#home > div { 
    margin-bottom: 0px;
}

#services
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;

    justify-content: center!important;
    align-content: center;
}