body{
  overflow-x: hidden;
}

a:link,
a:link:active,
a:visited,
a:visited:active {
  color: #1EAEDB;
 }
 
.header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.homeCard{				
  margin-bottom: 16px;
}

.tile > img{
  width: 100%;
}

.center-text{
  text-align: center;
}

.section{
  position: relative;
  width: 80%;
  max-width: 860px;
  left: 50%;
  margin-bottom: 60px;
  transform: translate(-50%, 0);
}

.resumeItem{
  position: relative;
  padding-left: 32px;
  padding-bottom: 16px;
  border-left: 3px solid #0FA0CE;
  margin-left: 24px;
}

.resumeItem:last-child{
  border: none;
  margin-left: 26px;
}

.resumeItem::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: -24px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #FFF;
  border: 2px solid #0FA0CE;   
}

.education::before{
  text-align: center;
  line-height: 53px;
  content: url(https://img.icons8.com/wired/24/000000/diploma.png);
}

.work::before{
  text-align: center;
  line-height: 55px;
  content: url(https://img.icons8.com/wired/24/000000/under-computer.png);
}

.skillSection{
  padding: 8px;
}

.progress::before{
  content: "100%";
  display: inline-block;
  position: relative;
  top: 0px;
  width: 98%;
  height: 70%;
  background: #1EAEDB;
  border-radius: 16px;
  line-height: 100%;			
}

.progress{
  text-align: center;
  object-fit: cover;
  width: 100%;
  background: #eee;
  height: 24px;				
  border-radius: 16px;
}

.noMargin{
  margin: 0;
}

.footer {
  grid-area: info;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr
}

.footer>small {
  margin-right: 5%
}


#home{
  padding-top: 50px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "img text text"
}

#home > img { grid-area: img; }
#home > p { grid-area: text; }
#home > h3 { 
  /*grid-area: header; */
  display: inline-block;
}
#home > div { 
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-area: header; 
  line-height: 100%;
  position: relative;
  /*padding-left: 32px;*/

  border-bottom: 1px solid #bbb;
}

#home > div a:hover{
  color: #33C3F0;
}

#home > div a {
  margin-left: 28px;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .2rem;
  
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
 
#MyFace{
  position: relative;
  object-fit:scale-down;
  width: 100%;
  max-height: 100%;
}

#work{
  /*display: grid;*/
  position: relative;
  /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 64px 1fr;
  grid-column-gap: 16px;*/
}

#workIntro{
  margin-bottom: 0px;
  grid-column: 1 / -1;
}

#resume{
  display: grid;
  grid-template-areas: 
    "exp exp"
    "skT skT"
    "sk1 sk2"
}

#experience{
  grid-area: exp;
}

#skills1{ grid-area: sk1; }
#skills2{ grid-area: sk2; }