<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
    <head>
        <title>Jesse van Leeuwen | GameDev Portfolio </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.85">  

        <link rel="canonical" href="https://jessevanleeuwen.nl/">        
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:description" content="">
        <meta property="og:title" content="Gaw | Jesse van Leeuwen">
        <meta property="og:url" content="https://jessevanleeuwen.nl/">
        <meta property="og:site_name" content="Games from Jesse van Leeuwen">

        <!--stylesheets -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <!-- page style -->
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/layout.css"/>

        <!--fonts -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="js/vue.min.js"></script>        
    </head>

    <body>
        <div id="app">
            <div id="work" class="section" v-if="projects.length > 0">
                <br/><br/>
                <div id="workIntro">
                    <a href="index.html" title="back to main page"><i style="font-size: 3.6rem" class="fas fa-arrow-circle-left"></i></a>
                    <span style="margin-left: 30px"></span>
                    <h3 style="display: inline-block">Game a week</h3><br/>

                    <p>

                    </p>
                </div>		
                
                <div class="detail" v-for="project in projects">
                    <h4>{{project.name}}</h4>
                    <div>
                        <iframe 
                            class="u-full-width" 
                            height="315" 
                            :src="project.video" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                        <p>{{project.description}} </p>
    
                        <h5>takeaways</h5>
                        <ul>
                            <li v-for="tekst in project.takeaways">{{tekst}}</li>
                        </ul>
                    </div>
                </div>                                    			
            </div>
        </div>
        <script type="text/javascript" src="js/app.min.js"></script>
        <script>
        /* fix video sizes (works only with video's with aspect 16/9) */

        // Find all YouTube videos
        var $allVideos = $("iframe");

        // Figure out and save aspect ratio for each video
        $allVideos.each(function() {
            var width = $(this).width();
            $(this).height( (width / 16) * 9 );
        });

        // When the window is resized
        $(window).resize(function() {
            // Resize all videos according to their own aspect ratio
            $allVideos.each(function() {

                var width = $(this).width();
                $(this).height( (width / 16) * 9 );
            });
        // Kick off one resize to fix all videos on page load
        }).resize();
        </script>	
    </body>
</html>