<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    <head>
        <title>Portfolio | Jesse van Leeuwen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  

        <link rel="canonical" href="https://jessevanleeuwen.nl/">        
	    <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:description" content="">
        <meta property="og:title" content="Portfolio | Jesse van Leeuwen">
        <meta property="og:url" content="https://jessevanleeuwen.nl/">
        <meta property="og:site_name" content="Portfolio Jesse van Leeuwen">

        <link rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
            crossorigin="anonymous">

        <link rel='stylesheet' href="css/typography.min.css">
        <link rel='stylesheet' href="css/main.min.css">
        <link rel='stylesheet' media="screen and (min-width: 720px)" href="css/layout.min.css">

        <script src="js/vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <header class="noMargin header card"> 
                <img src="Images/Jesse.jpg" />
                <p v-html="text"> </p>
            </header>
            
            <main class="main-content">

                <h3 class="center">About Me</h3>
                <div v-if="story != ''" class="center card">
                    <p class="center" style="padding: 15px;" v-html="story"></p>
                </div>

                <h3 class="center">Work Experience</h3>
                <div class="center card Resume">
                    <div class="work center" v-for="work in workExperience">
                        <h4 class="noMargin">{{work.function}}</h4>
                        <small><i class="far fa-calendar-alt dateIcon"></i>{{work.date}}</small>
                        <p>{{work.description}}</p>
                        <small><a v-if="work.link != ''" :href="work.link">project link</a></small>
                    </div>
                </div>

                <h3 class="center" v-if="projects.length > 0">Personal Projects</h3>
                <div class="project-list center" v-if="projects.length > 0">
                    <a v-for="project in projects" :href="project.link" target="_blank">
                        <div class="project">
                            <img class="project-img" :src="project.img" />
                            <div>
                                <h3 class="project-title">{{project.name}}</h3>
                                <p class="project-desc">
                                    <small>{{project.tagline}}</small><br/><br/>
                                    {{ project.description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </main>

            <aside class="skills">
                <h4 class="noMargin centerText">programming languages:</h4>
                <div v-for="skill in skills.languages">
                    <label class="skillName">{{skill.name}}</label>
                    <div class="skillBack"><!-- skill background -->
                        <div class="skill yellowBack" 
                            v-bind:style="{width: skill.width }"></div>
                    </div>
                </div>
                
                <br/>
                
                <h4 class="noMargin centerText">programs en libaries:</h4>
                <div v-for="skill in skills.programs">
                    <label class="skillName">{{skill.name}}</label>
                    <div class="skillBack"><!-- skill background -->
                        <div class="skill yellowBack" 
                            v-bind:style="{width: skill.width }"></div>
                    </div>
                </div>
            </aside>

            <footer class="footer">
                <small><a target="_blank" href="privacy.html">Privacy Policy</a></small>
                <a class="contact font-heavy" href="mailto:jesse@emberglitch.com"><div>
                    contact
                </div></a>
                <small>&copy; Copyright 2018, Jesse van Leeuwen</small>
                <a target="_blank" href="https://twitter.com/jesseGameDev">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/jesse-van-leeuwen-00a90bb6/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </footer>
        </div>
        <script src="js/app.min.js"></script>
    </body>
</html>
